nav{
    background-color: pink;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    width: 100%;
    }
    
a{
    text-decoration: none;
    color: rgb(60, 4, 60);
    font-family: "Cormorant Garamond",Arial;
    font-size: 20px;
}

h1{
    font-family: Satisfy,Arial;
    font-size: 40px;
    align-self: center;
    border: 1px solid pink;
    padding-left: 43%;
    color: rgb(60, 4, 60);
}

img{
    width: 250px;
    border: 1px solid rgb(60, 4, 60);
    height: 200px;
    
}

.pics-c{
    border: 1px solid green;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "a a b b c c"
                        "d e";
    grid-gap: 1px;
    row-gap: 2px;
} 

.pic{
    box-shadow: 20px 20px 50px 10px pink inset;
}
.q{
    grid-area: a;
}

.w{
    grid-area: b;
}

.e{
    grid-area: c;
}

.r{
    grid-area: d;
}

.t{
    grid-area: e;
}

@media (max-width:412px) {
    .pics-c{
        display: block;
    }

    img{
        width: 350px;
    }
}